/* aquí se detalla el estilo de la landing page de Sistemas Informáticos */

/************ FUENTES ***************/


@font-face{
       src:url('../fonts/Simpleness.otf');
       font-family:herofont;
}

@font-face {
       src: url("../fonts/LASER.ttf");
       font-family: laser;
       
}
@font-face {
       src: url("../fonts/Epilogue-Regular.ttf");
       font-family: epilogue;
}


/********* LAYOUT BÁSICO ****************/

body {background-color: white;
       font-family:epilogue;}
       
       
#container {width:80%;  /* este será el ancho de todas las secciones */
              margin:auto;
              /* height:300px; */
              background-color:white;
}

/* FLECHA PARA SUBIR */
.fa-arrow-up {position:fixed;
       bottom:30px;
       right:30px;
       color: rgba(17, 4, 4, 0.5);
       padding:10px;
       border-radius:5px;
       border:1px solid rgba(17, 4, 4, 0.5);
       z-index:99;}

a {text-decoration:none;
color:green;
font-weight:bold;}
a:hover {color:red;}

button {cursor:pointer;
}

/* BARRA STICKY */

nav {
       position:sticky;
       position:-webkit-sticky;
       top:0;
       z-index:99;
}
/***********ESTILO NAV RESPONSIVE *********/
.topnav {
       overflow: hidden;
       background-color: #292a2f;
       font-weight: bold;
       /* padding-right: 90vh; */
}     
.topnav a {
       float: left;
       display: block;
       color: #f2f2f2;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 17px;
}
.topnav a:hover {
       color: #0FC0AF;
}
.topnav .icon {
       display: none;
}


/****** HERO SECTION ************/            

#hero {position:relative;
       background-image:url('../pictures/hero-section.jpg');
       background-size: cover;
       background-position: left;
       height: 40vh; 
       width: 100%;

       }

#hero h2 {position:absolute; 
       top:6vh;
       right:6vw;
       color:white;
       font-family:herofont;
       font-size:5vh;
       margin: 5%;
       background-color:rgba(0, 0, 0, 0.753);
       padding:15px;
       border-radius:10px;
}


/********** ESTILO CABEZERA SECCIONES ************/
.textoIntro { width:60%;
       margin:3% auto;
       text-align:center;
       font-size:3.5vh;
       line-height: 60px;
       padding-bottom:2%;
       padding-top: 1%;
       border-bottom:2px solid  #0FC0AF;
       border-top:2px solid  #0FC0AF;
       font-family: laser;
       font-weight: bold;
}


/******** PRIMERA SECTION ***********/
#intro {padding:30px;
       }

.grid2col {display:grid;  /* propiedad de estilo para distribución grid */
grid-template-columns:50% 50%;
}
.col2 {
       padding:10%;
       font-size: 100%;
}

#dcha {text-align: right;}

.imgcol2 img {
       width: 250px;  
}        
/* SEGUNDA SECCION */

#tipos {padding:20px;
       /* background-color:rgb(179, 216, 179);*/}

.grid4col {display:grid;
       grid-template-columns:auto auto auto auto ;
}
.col4 {padding:15px;
       margin:10px;
       background-color:white;
       border:1px solid grey;
       border-radius:10px;
       box-shadow:2px 2px 2px grey;
       transition:0.5s;}
.col4:hover {box-shadow:2px 4px 8px grey;}
.col4 img {width:100%;
           /* border-radius:50%; */
       opacity:0.6;
       transition:1s;}
.col4 img:hover {opacity:1;}
.col4 .fa {font-size:6em;
       text-align:center;
       display:block;
       color:orangered;}
.col4 button {background-color:#0FC0AF;
              padding:8px;
              border:none;
              color:white;
              font-weight:bold;
              border-radius:10px;
              display:block;
              margin:auto;
              }
.col4 button:hover {background-color:#0ba596;}


/* FUNCIONAMIENTO SECTION */
#funcionamiento {
       
       background-color: #0ba5968f;
       padding:30px;
       }
#funcionamiento p {font-size:1.2em;
       text-align:justify;
       line-height:35px;
       /* margin: 20px; */
}

#SAI {
       width: 300px;
       float:right;
       margin-right:5px;
       margin-bottom:5px;
       /* background-color: red; */
      }


/* 3 COLUMNAS */
.grid3col {display:grid;
       grid-template-columns:auto auto 50%;}
.col3 {padding:5%;
}

/* INSTALACION */
#instalacion {
       margin-top: 0px;
       /* background-color: red; */
}

#instalacion p {
       font-size: 120%;

}
#instalacion p i {
       color: #0ba596;

}
.grid2col2 {display:grid;  
       grid-template-columns:50% 50%;
       }
.col22 {
       padding-bottom:10%;
       padding-left: 10%;
       font-size: 100%;
}
#dcha2 {text-align: right;}

/*******  IFRAMES RESPONSIVE *************/
.iframe-responsive {position: relative;
       overflow: hidden;
       width: 100%;
       padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */}
.iframe-content {position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 100%;

   }

/* FOOTERRRR */
/* The footer is fixed to the bottom of the page */
footer{
	/* position: fixed; */
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #292a2f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 30px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 10%;
}

.footer-distributed h3 span{
	color:  #0FC0AF;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
.footer-distributed .footer-links :hover{
	color: #0FC0AF;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #0FC0AF;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* MEDIAAAA only */

@media only screen and (max-width:900px){
       .grid4col {grid-template-columns: 50% 50%;}
       .grid2col2{grid-template-columns: 100%;}
}


@media screen and (max-width: 600px) {
       #container {width:100%;}
       #SAI {width:100%;}
       .topnav a:not(:first-child) {display: none;}
       .topnav a.icon {
              float: right;
              display: block;
              }
       .topnav.responsive {position: relative;}
       .topnav.responsive .icon {
              position: absolute;
              right: 0;
              top: 0;
       }
       .topnav.responsive a {
              float: none;
              display: block;
              text-align: left;
       }
       .grid2col2{grid-template-columns: 100%;}
       .grid3col{grid-template-columns: 100%;}
       .grid4col {grid-template-columns: 100%;}
       
 }
            
 @media only screen and (max-width:400px){
       .imgcol2 img {width:200px;}
}